<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgtr</title>
    <link rel="stylesheet" href="/public/normalize.css">
    <link rel="stylesheet" href="/public/skeleton.css">
</head>
<body>

    <h1>Budgtr ALL</h1>

    <div class="container">

    </div>

    <table>
        <% for(let i=0; i < budgetTable.length; i++) { %>
            <tr>
                <td> <%= budgetTable[i].date %> </td>
                <td> <%= budgetTable[i].name %> </td>
                <td> <%= budgetTable[i].amount %> </td>
            </tr>
        <% } %>
    </table>
        
    
</body>
</html>