<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgtr</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>
<body>
<div class="container">
    
    <h1>Add New Item</h1>

            <table>

            <tr>
        <td><input placeholder="date"></input></td>
        <td><input placeholder="name"></input></td>
            </tr>
            <tr>
        <td><input placeholder="amount"></input></td>
        <td><input placeholder="from"></input></td>
            </tr>
            </table>

    <button>Create New Item</button>

</div>
</body>
</html>